@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  display: flex;
  align-items: center;
  width: 90%;
  height: 100vh;
}

header .heading {
  position: relative;
  display: inline-block;
  padding-top: 15px;
  left: 11%;

  font-family: "Roboto";
  letter-spacing: 1px;

  animation: fadeIn 2s forwards;
}

header .heading h1 {
  margin: 0px;
  width: 455px; /*290px;*/

  font-weight: 500;
  font-size: 38px; /*29px;*/

  color: #151515;
}

header .heading h3 {
  margin: 0px;
  padding-top: 20px; /*15px;*/
  width: 420px; /*315px;*/

  font-weight: 300;
  font-size: 22px; /*16px;*/

  line-height: 30px;

  color: #7e7e7e;
}

header .mockup {
  position: absolute;
  top: 150px;
  right: 0px;
  height: 525px; /*420px;*/
}

.why-dasher {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  /*top: 750px;*/
  width: 100%;
  height: 600px;

  background-color: #f7f7f7;
}

.why-dasher .title {
  margin: 0px;
  padding-top: 75px;
  font-family: "Roboto";
  font-size: 38px;
  font-weight: 500;
}

.why-dasher .features {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  width: 90%;
  margin-left: 5%;
}

.how-it-works {
  position: relative;
  width: 100%;
  height: 1000px;

  background-color: #ffffff;
}
