header {
  display: flex;
  align-items: center;
  width: 90%;
}

header .heading {
  position: relative;
  display: inline-block;
  margin-top: 190px;
  left: 11%;

  font-family: "Roboto";
  letter-spacing: 1px;
}

header .heading h1 {
  margin: 0px;
  width: 400px; /*290px;*/

  font-weight: 600;
  font-size: 38px; /*29px;*/

  color: #151515;
}

header .heading h3 {
  margin: 0px;
  padding-top: 20px; /*15px;*/
  width: 420px; /*315px;*/

  font-weight: 300;
  font-size: 22px; /*16px;*/

  line-height: 30px;

  color: #7e7e7e;
}

header .mockup {
  position: absolute;
  top: 150px;
  right: 0px;
  height: 525px; /*420px;*/
}
