header {
  display: flex;
  align-items: center;
  width: 90%;
}

header .heading {
  position: relative;
  display: inline-block;
  margin-top: 190px;
  left: 11%;

  font-family: "Roboto";
  letter-spacing: 1px;
}

header .heading h1 {
  margin: 0px;
  width: 290px;

  font-weight: 800;
  font-size: 29px;

  color: #151515;
}

header .heading h3 {
  margin: 0px;
  padding-top: 15px;
  width: 315px;

  font-weight: 300;
  font-size: 16px;

  line-height: 25px;

  color: #7e7e7e;
}

header .mockup {
  position: absolute;
  margin-top: 170px;
  right: 0px;
  height: 525px; /*420px;*/
}
